<!DOCTYPE html>
<html>

<head>
    <title>
        Student
    </title>
</head>

<body>
    <style>
        h1 {
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color:tomato;
        }
        header {
            display:flex;
            justify-content: space-between;
        }
    </style>
    <script>
        function clearcookie(){
         let token=document.cookie;
         token=token+";"+`expires=${new Date(0).toUTCString()}`
         console.log(token)
         document.cookie=token;
         window.location.href="/";
        }
    </script>
    <header>
        <button onclick="clearcookie();">Logout</button>
    </header>
    <h1>Student</h1>
    <mark>{{user}}</mark>
</body>
</html>